body{
    background: -webkit-linear-gradient(to right, #ece9e6, #ffffff);
}
.container{
    margin-top: 25px;
}
.card{
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
    border-width: 0px;
}
.row{
    margin-bottom: 3rem;
}
.footer{
    text-align: center;
    display: block;
    position: fixed;
    left:0;
    bottom:0;
}
.footerlinks{
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
}
a:hover{
    color: rgb(72, 72, 161);
}